@page
@model IndexModel


<head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Weather App by Grant Grinols</title>

<link rel="stylesheet" href="~/css/user.css" type="text/css"/>

</head><body>
    <div class="TransBackground WelcomeText">Welcome to your weather forecast for Michigan<br><div style="font-size: 10px;">...And anywhere else!</div></div>
    <div class="TransBackground WelcomeText">Here is your local broadcast for @Model.Location
       
        <div style="display:flex; gap: 1rem; flex-wrap: wrap; justify-content: center;">
            @if(Model.Cards.Count!= 0){
        @foreach (var card in Model.Cards){
            <div style="font-size: 12px; border: 1px solid #ccc; border-radius: 8px; width:300px; overflow: hidden; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); height: 200px;">
                <p>Date: @card.Date</p>
                <p>Description: @card.Description</p>
                <p>Max Temp: @card.TempMax</p>
                <p>Min Temp: @card.TempMin</p>
                <p>Humidity: @card.Humidity</p>
                @if(card.Description.Contains("lightning")||card.Description.Contains("Lightning")){
                    <img src="image/thunder.png" alt="An image of a cloud" width="50" height="50">
                }
                @if(card.Description.Contains("snow")||card.Description.Contains("Snow")){
                    <img src="image/snowcloud.png" alt="An image of a cloud" width="50" height="50">
                }
                @if(card.Description.Contains("rain")||card.Description.Contains("Rain")){
                    <img src="image/raincloud.png" alt="An image of a cloud" width="50" height="50">
                }
                @if(card.Description.Contains("mix")||card.Description.Contains("Mix")){
                    <img src="image/mixed.png" alt="An image of a cloud" width="50" height="50">
                }
                @if(card.Description.Contains("cloudy")||card.Description.Contains("Cloudy")){
                    <img src="image/cloudy.png" alt="An image of a cloud" width="50" height="50">
                }
                @if(card.Description.Contains("clear")||card.Description.Contains("Clear")){
                    <img src="image/sun.png" alt="An image of a cloud" width="50" height="50">
                }
            </div>
        }
        }
        <div class="TransBackground">
            <div class="pagecontainer active" id="container1">
        <form method="post">
            <label for="Location" style="font-size: 14px;">Please pick a location:</label>
            <select name="Location" id="Location">
                <option value="New Baltimore">New Baltimore</option>
                <option value="Detroit">Detroit</option>
                <option value="Royal Oak">Royal Oak</option>
                <option value="Ferndale">Ferndale</option>
                <option value="Ann Arbor">Ann Arbor</option>
                <option value="Lansing">Lansing</option>
                <option value="Houghton">Houghton</option>
                
            </select>
            <input type="hidden" value="false" id="hasAddress" name="hasAddress">
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="pagecontainer" id="container2">
            <form method="post">
             <input type="text" id="userAddress" name="userAddress" placeholder="Please enter your address">
            <button type="submit">Submit</button>
            <input type="hidden" value="true" id="hasAddress" name="hasAddress">
            </form>
        </div>
        <p></p>
        <button onclick="showContainer('container1')">Best spots in Michigan</button><button onclick="showContainer('container2')">Manually enter an address</button>
        
        @if (!string.IsNullOrEmpty(Model.ResponseMessage)){
            <h2>@Model.ResponseMessage</h2>
        }
    </div>
    </div>
    </div>
    

<script src="~/js/site.js"></script>

</body>